# /etc/systemd/system/rrmeals.service

[Unit]
Description=Rampage backend

[Service]
Type=simple
WorkingDirectory=/app
ExecStart=/app/backend
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target